/* CSS talk bubble */
.talk-bubble {
	margin: 10px;
	display: block;
	position: relative;
	height: auto;
	max-width: 15em;
	width: 15em;
	min-width: 15em;
	border-radius: 10px;
}

.my-chat {
	background-color: #212121;
}

.your-chat {
	background-color: #424242;
}
.border {
	border: 8px solid #666;
}

.round {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.wordwrap {
	padding: 3px; width: 130px; word-break: break-all; word-wrap: break-word;
}

.sender {
	color: #9b4dca;
}